<h1 class="text-center mt-5 text-3xl">Registro de entradas y salidas</h1>
<h2 class="text-center m-6">Horas Totales de {{decodedUser.nombre}}: {{totalHoras}}</h2>
<div class="flex flex-col lg:flex-row items-center justify-center rounded-md py-5 mx-20">
    <div class="flex-col mx-2">
        <span>Año</span>
        <select id="miSelect" name="miSelect" class="block w-60 bg-white border border-gray-300 rounded-md py-0.5 px-3 focus:outline-none 
    focus:border-indigo-500" [(ngModel)]="anioSelected" (change)="filtrarHoras()">
            <option value="Selecciona un motivo" disabled selected>Selecciona Año</option>
            @for(anio of years; track years){
            <option [value]="anio">{{anio}}</option>
            }

        </select>
    </div>
    <div class="flex-col">
        <span>Mes</span>
        <select id="miSelect" name="miSelect" class="block w-60 bg-white border border-gray-300 rounded-md py-0.5 px-3 focus:outline-none disabled:bg-gray-200
focus:border-indigo-500" [(ngModel)]="mesSelected" (change)="filtrarHoras()" [disabled]="disableMonth">
            <option value="Selecciona un motivo" disabled selected>Selecciona un Mes</option>
            @for(month of months; track months){
            <option [value]="month.numero">{{month.nombre}}</option>
            }

        </select>
    </div>
    <div class="flex-col mx-2">
        <span>Día</span>
        <select id="miSelect" name="miSelect" class="block w-60 bg-white border border-gray-300 rounded-md py-0.5 px-3 focus:outline-none disabled:bg-gray-200
    focus:border-indigo-500" [(ngModel)]="diaSelected" (change)="filtrarHoras()" [disabled]="disableDay">
            <option value="Selecciona un motivo" disabled selected>Selecciona un Día</option>
            @for(day of days; track day){
            <option [value]="day">{{day}}</option>
            }
        </select>
    </div>
    <button
        class="ml-4 inline-flex text-white it bg-yellow-500 mt-6 border-0 py-1 px-3 focus:outline-none hover:bg-yellow-600 rounded text-lg disabled:bg-gray-400 disabled:cursor-not-allowed"
        (click)="resetSelects()">Borrar filtros</button>
</div>
@if (registros.length===0) {
<p class="mt-8 flex justify-center">No hay Registros</p>
}@else {
<div class=" flex flex-col gap-4 m-4 lg:mt-5">
    <p> Total de registros: {{registros.length}}</p>
    @for(data of getItems(); track data.id){
    <div class="flex flex-col lg:flex-row gap-8 p-6 bg-neutral-700 text-neutral-200 rounded-lg">

        <div class="lg:w-4/12">
            <h2 class="text-lg">Entrada:</h2>
            <p class="text-sm">{{data.entrada}}</p>
            <p class="text-sm">{{data.localizacion_entrada}}</p>
        </div>

        <div class="lg:w-4/12">
            <h2 class="text-lg">Salida:</h2>
            <p class="text-sm">{{data.salida}}</p>
            <p class="text-sm">{{data.localizacion_salida}}</p>
        </div>
        <div class="lg:w-2/12">
            <h2 class="text-lg">Horas:</h2>
            <p class="text-sm">{{data.diferencia}}</p>
        </div>
        @if(data.motivo_salida==="Modificado por Administrador"){

        <div class="lg:w-2/12">
            <h2 class="text-lg">Motivo:</h2>
            <p class="text-sm text-amber-500">{{data.motivo_salida}}</p>
        </div>
        }@else{
        <div class="lg:w-2/12">
            <h2 class="text-lg">Motivo:</h2>
            <p class="text-sm">{{data.motivo_salida}}</p>
        </div>
        }
    </div>
    }

    <div>
        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-sm">
                <li>
                    <button [disabled]="paginaActual === 1" (click)="paginaActual = paginaActual - 1"
                        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Anterior</button>
                </li>
                <li>
                    <span
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Página
                        {{ paginaActual }} de {{totalItems}}</span>

                </li>
                <li>
                    <button [disabled]="getItems().length < itemsPorPagina || paginaActual == totalItems"
                        (click)="paginaActual = paginaActual + 1"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Siguiente</button>
                </li>
            </ul>
        </nav>
    </div>
</div>
}