<header class="text-gray-600 body-font">

    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            @if (mesActual==12) {
            <img class="gorroNavidad" src="../../assets/media/gorroNavidad.png" alt="gorroNavidad"
                [routerLink]="['/header/felicesFiestas']">
            }
            <img class="logoIrontec·" src="../assets/media/logo-irontec-transformed.jpeg" alt="logoIrontec·"
                [routerLink]="['/header/']">
            <!-- <div class="bienvenido">
                <a class="ml-3 text-xl" [routerLink]="['/header']">Bienvenido "nombreUsuario"</a>
            </div> -->
        </a>
        <nav
            class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <div class="logoMisFichas">
                <a class="mr-5 hover:text-gray-900" [routerLink]="['/header/registros']">Mis fichajes</a>
                <!-- <img src="../../assets/media/misFichas.png" alt="misfichasLogo" /> -->
            </div>
            <div class="logoMisFichas">
                <a class="mr-5 hover:text-gray-900" [routerLink]="['/header/tareas']">Tareas</a>

            </div>
            @if (decodedUser.admin) {
            <div class="logoEditarRegistros">
                <a class="mr-5 hover:text-gray-900" [routerLink]="['/header/registerWorker']">Registro de los
                    trabajadores</a>
                <img src=" ../../assets/media/editarRegistros.png" alt="editarRegistrosLogo">
            </div>
            }

        </nav>
        <button (click)="logOut()"
            class="inline-flex items-center  border-0 py-1 px-3 focus:outline-none  rounded text-base mt-4 md:mt-0">Cerrar
            Sesión
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>

</header>

<router-outlet></router-outlet>