.usuarios {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* display: flex;
  flex-wrap: nowrap; */
}

.fondoRegistro {
  background-color: rgba(141, 141, 141, 0.21);
}
